body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiPaper-root {
  background-color: #181818 !important;
}
